<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@0sapphy">
    <meta name="twitter:title" content="<%- name -%>">
    <meta name="twitter:description" content="Yes, Another Image.">
    <meta name="twitter:image" content="<%- image -%>">
    <link type="application/json+oembed" href="<%- image -%>">
    <!-- Replace the above content with your actual information -->
    
    <!-- Essential meta tags for general sharing -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%- name -%>">
    <meta property="og:description" content="Yes, Antoher Image">
    <meta property="og:image" content="<%- image -%>">
    <meta property="og:url" content="<%- image -%>">
    <title><%- name -%></title>
</head>
<body>
    <img src="<%- image -%>">
</body>
</html>